<main>
    <div class="results-container">
        <div class='results-header'>
            <h2 class="movie-title">Movie Title</h2>
            <h2 class="tagline">Tagline - Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        </div>
        <div class="details-container">
            <div class="movie-details">
                <ul>
                    <li><p>Released: <br><span>N/A</span></p></li>
                    <li><p>Director: <br><span>N/A</span></p></li>
                    <li><p>Cinematographer: <br><span>N/A</span></p></li>
                </ul>
            </div>
            <div class="poster-details">
                <img class="poster" src='#'>
            </div>
        </div>
        <div class="cast-container">
            <div class="cast">
                <div class="actor">
                    <img id='a1' class="actor-img" src="#">
                    <h3 class="actor-name">Actor Name</h3>
                </div>
            </div>
            <div class="cast">
                <div class="actor">
                    <img id='a2' class="actor-img" src="#">
                    <h3 class="actor-name">Actor Name</h3>
                </div>
            </div>
            <div class="cast">
                <div class="actor">
                    <img id='a3' class="actor-img" src="#">
                    <h3 class="actor-name">Actor Name</h3>
                </div>
            </div>
            <div class="cast">
                <div class="actor">
                    <img id='a4' class="actor-img" src="#">
                    <h3 class="actor-name">Actor Name</h3>
                </div>
            </div>
            <div class="cast">
                <div class="actor">
                    <img id='a5' class="actor-img" src="#">
                    <h3 class="actor-name">Actor Name</h3>
                </div>
            </div>
            <div class="cast">
                <div class="actor">
                    <img id='a5' class="actor-img" src="#">
                    <h3 class="actor-name">Actor Name</h3>
                </div>
            </div>
        </div>
    </div>
</main>