<div class="form-container">
    <form class="search">
        <input class="search-value" type="text" onfocus="this.value=' '" placeholder="movie title">
        <button class="search-btn">SEARCH</button>
        {{!-- <p class="search-error">No Results</p> --}}
    </form>
</div>